<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customers</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<h2>List of customers</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Count</th>
    </tr>

    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}">Id</td>
        <td th:text="${customer.name}">Name</td>
        <td th:text="${customer.count}">Count</td>
    </tr>
</table>

</body>
</html>